*{
    margin: 0;
    padding: 0;
    font-family: Roboto, Arial;
}

.hero{
display: flex;
justify-content: center;
background-color: aqua;
}
.content{
    height: 600px;
    background-color: antiquewhite;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    width: 1200px;
    horizontal-align: center;
}
.hero-content{
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    padding: 0 4em;
    justify-content: center;
}
.hero-content h1{
    font-size: 2rem;
    font-weight: 900;

    margin-bottom: 1rem;
    line-height: 1.1;
}